*{
    -fx-font-size: 18px;
    -fx-font-family:  Perpetua Titling MT;
}

.textfield-main{
    -fx-background-radius: 20px;
    -fx-background-color:  #00EF24;
}

.button-main{
    -fx-background-radius: 20px;
    -fx-background-color: #4E00F0;
    -fx-text-fill: white;
}

/*
#F07B00
#349B43
#705538
#4A3870
*/